::-webkit-scrollbar {
    display: none;
}
.container-fluid{
  height: 100vh;
  overflow-y: hidden;
}

* a{
  text-decoration: none!important;
}

.main_nav{
  height: 99.5%;
  position: fixed;
  background-color: black;
  background-image: url(../Background/stressed_linen.png);
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}

.nav_item{
  height: 3em;
  margin-top: 40%;
  display: block;
}

.boom{
  background-image: url(../Images/bw.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 5em;
}

.main_scroll{
  overflow-y: scroll;
  height: 100%;
}

.container{
  background-image: url(../Images/ded.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7.5%;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  height: 70%;
  background-color: white;
  overflow-x: hidden;
}

.sub_box{
  margin: 2%;
}

.title_box{
  margin-bottom: -8%!important;
}

.login{
  height: 10em;
}

.login h4{
  padding-top: 5em;
  color: white;
  font-family: 'Josefin Sans',sans-serif;
}

ul li{
  list-style: none;
  display: block;
  margin-top: 30%!important;
}

li a{
  color: white;
  font-family: 'Josefin Sans',sans-serif;
  text-decoration: none;
}

a:hover h4{
  color: rgba(255, 255, 255, 0.6);
}

a:visited h4{
  color: rgba(255, 255, 255, 0.6)!important;
}

.scrollable{
  overflow-y: scroll;
  height: 100%;
  width: 70%!important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
}

.white{
  background-color: white;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
  height: 90%;
  display: block;
}

.white h1{
  display: block;
  margin: 25%!important;
}

.footer{
  height: 14.5%;
}
