@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Dosis';
}

.container-fluid{
    margin: 0!important;
    padding: 0!important;
}

section{
  min-height: 100vh;
  max-width: 100vw;
  margin: 0!important;
}

.nav-toggle{
  font-size: 2em;
  padding: 2em;
  position: fixed;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.toggle-active{
  color: white;
}

#nav-toggle{
  transition: all 0.2s ease-in-out;
}

.rotate{
  transform: rotate(90deg);
}

.overlay{
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay-fadeIn{
    display: block;
}

#side-bar{
  height: 100vh;
  position: fixed!important;
  padding-top: 20vh;
  right: -500px;
  z-index: 5;
  background-color: black;
  transition: all 0.5s ease-in-out;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

#side-bar a{
  color: white!important;
}

.nav-item{
  padding-top: 2em!important;
}

.side-link{
  font-size: 1.5rem;
  display: inline!important;
}

.slide{
  right: 0px!important;
}

.spacer{
  margin-top: 40vh!important;
}

.landing{
  background-image: url('../Images/Landing.webp');
  background-repeat: no-repeat;
  background-size: 35vw;
  background-position: left 10em bottom -10em;
}

#landing{
  max-height: 98vh;
}

.title{
  top: 30vh;
}

.title h1{
  font-weight: 400;
  font-size: 5vw;
}

.title p{
  font-weight:400;
  font-size: 3vw;
}

.bold{
  font-weight: 600;
}

.btn-light{
  background-color: white!important;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.btn-light:hover{
  border: none;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11);
}

.about{
  background-color: #4A4A4A;
  -webkit-box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.73);
  box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.73);
  border-radius: 35px;
}

#about{
  min-height: auto;
  padding-bottom: 20vh;
}

#about .nav-toggle{
  color: white;
}

.about .title{
  color: white;
  top: 10vh;
}

.about .title h1{
  margin-top: 10vh;
  font-size: 4vw;
}

.about .title p{
  font-size: 2vw;
}

.red{
  color: red;
}

.portfolio{
  padding-top: 10vh;
  overflow: hidden;
  height: auto!important;
  padding-bottom: 20vh;
}

.portfolio-wrapper{
  padding: 4em;
}

.portfolio-card{
  border: none;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.05);
  border-radius: 35px;
  height: 20em;
  min-width: 20em!important;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover{
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.21);
}

#squaberry{
  background-image: url('../Images/logos.webp');
  background-position: center;
  background-size: 10em;
  background-repeat: no-repeat;
}

#omas{
  background-image: url('../Images/logo.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#daftar{
  background-image: url('../Images/daftar.webp');
  background-position: center;
  background-size: 10em;
  background-repeat: no-repeat;
}

#lite{
  background-image: url('../Images/lite.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

hr{
  width: 30vh;
  border: 3px solid black;
  border-radius: 25px;
}

@media screen and (max-width: 450px){
  .nav-toggle{
    padding: 0.5em;
  }
  .spacer{
    margin-top: 20vh!important;
  }
  .title{
    text-align: center;
  }
  .title h1{
    font-size: 10vw;
  }
  .title p{
    font-size: 5vw;
  }
  .about{
    padding: 3em;
    padding-top: 10vh;
  }
  .about .title p{
    margin-top: 10vh;
    font-size: 5vw;
  }
  .about .title{
    text-align: center;
    top: -15vh;
  }
  .about .title h1{
    font-size: 10vw;
  }
  .landing{
    background-size: 90vw;
    background-position: left 0 bottom -10em;
  }
  .portfolio{
    height: 150vh;
  }
  .portfolio-wrapper{
    padding-left: 10vw;
  }
  .portfolio-card{
    min-height: 4em;
    max-width: 4em!important;
  }
}

@media screen and (min-width: 451px) and (max-width: 1050px){
  .spacer{
    margin-top: 30vh!important;
  }
  .title{
    top: 15vh;
  }
  .title h1{
    font-size: 60px;
  }
  .title p{
    font-size: 30px;
  }
  .about .title h1{
    font-size: 60px;
  }
  .about .title p{
    font-size: 30px;
  }
  .about{
    height: auto;
  }
  .landing{
    background-size: 55vw;
    background-position: left 3em bottom -10em;
  }
  .portfolio-wrapper{
    min-width: 20em!important;
    padding-left: 0;
    margin-left: 4em;
  }
}